.page-all-services {
  background: $blue;
  color: $white;
  .top-image {
      position: fixed;
      right: 0;
      top: 0;
      overflow: hidden;
      img{
        height: 30vh;
        max-width: none;
        opacity: 0.03;
      }
  }
}
.services-list {
  @media (max-width: 767px) {
    padding-top: 150px;
  }
  height: 100%;
  @media(min-width: 768px) {
    height: calc(100vh - 50px);
  }
  @media(min-width: 1365px) {
    height: calc(100vh - 40px);
  }
  @media(min-width: 1601px) {
    height: calc(100vh - 106px);
  }
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(flex-end);
  .wrap {
    .content-top {
      @include make-col-ready;
      @include media-breakpoint-up(xl) {
        @include make-col(6);
      }
      p{
        font-size: 18px;
        @media(min-width: 1400px) {
          font-size: 20.304px;
        }
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 1.636;
        text-align: center;
        font-size: 17px;
        @include media-breakpoint-up(sm) {
          text-align: left;
          font-size: 18px;
        }
      }
    }
    .row{
      counter-reset: section;
    }
    .all-services {
      @include make-col-ready;
      @include flexbox;
      @include flex-wrap(wrap);
      @include align-items(flex-end);
      @include media-breakpoint-up(xl) {
        margin-left: -15px;
        margin-right: -15px;    
      }  
      counter-increment: section;
       padding-top: 30px;
        @media(min-width: 1400px) {
          padding-top: 65px;
        }
      @media(min-width: 1601px) {
        padding-top: 85px;
      }
      .first-service{
        @include make-col-ready;
        margin-bottom: 30px;
        @include make-col(12);
        @include media-breakpoint-up(lg) {
          @include make-col(6);
          height: 100%;
        }
        @include media-breakpoint-up(xl) {
          @include flex(0 0 30%);
          max-width: 30%;
        }

        #first_service{
          background-color: $white;
          height: 100%;
          border-radius: 4px;
          @include shadow-light;
          color: $black;
          text-align: center;
          @include flexbox;
          @include flex-wrap(wrap);
          @include align-items(center);
          @include justify-content(center);
          padding: 25px 22px;        
          @media(min-width: 1400px) {
            padding: 45px 25px;        
          } 
          @media(min-width: 1500px) {
            padding: 50px 45px;        
          } 
          h2 {
              margin-bottom: 22px;
              font-size: 26px;
              font-family: "Montserrat";
              color: $black;
              font-weight: bold;
              line-height: 1.286;
          }
          .content-single {
              font-family: "Montserrat";
              color: $gray-700;
              text-align: center;
              p{
                font-size: 20.304px;
                line-height: 1.364;
                margin-bottom: 35px;
              }
              a{
                @include button-outline;
                min-width: 221px;
                height: 55px;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.8;
              }
          }
        }
      }
      ul {
        @include make-col-ready;
        margin-bottom: 0px;
        counter-reset: service-list;
        padding: 0px;
        @include media-breakpoint-up(lg) {
          @include make-col(6);          
        }
        @include media-breakpoint-up(xl) {
          @include flex(0 0 70%);
          max-width: 70%;
        }
        li {
          @include make-col-ready;    
          display: inline-block !important;     
          @include media-breakpoint-up(sm) {
            @include make-col(6);
            float: left;
          } 
          @include media-breakpoint-up(xl) {
            @include make-col(4);
            float: left;
          }
          &.RealEstate-wrap{
            .content-box{
              &:before{
                content: "";
                background-image:url("#{$img-link}home-icon.png");
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                width: 79px;
                height: 100%;
                right: -10px;
                bottom: -10px;
                opacity: 0.11;
              }
            }
          }
          .content-wrap{
            position: relative;
            height: 75px; 
            @media(min-width: 1500px) {
              height: 98px;     
            }
            margin-bottom: 25px;
            @include bg-opacity($white, 0.05);
            @include flexbox;
            @include flex-wrap(wrap);
            @include align-items(center);    
            border-radius: 5px;         
          }
          .content-box {
            overflow: hidden; 
            padding:5px 20px;
            @media(min-width: 1400px) {           
              padding:5px 40px;
            }
            border-radius: 5px;
            @include custom-shadow (0px 4px 57px 0px rgba(0, 0, 0, 0.05)); 
            position: absolute;
            width: 100%;
            bottom: 0px;     
            @include transition ( all 0.8s ease-in-out);   
            max-height: 75px;
            min-height: 75px;
            @media(min-width: 1500px) {
              max-height: 98px;
              min-height: 98px;   
            }
            @include flexbox;
            @include flex-wrap(wrap);
            @include align-items(center); 
           .content-single{
             display: none;
             a{
               @include button-outline;
               font-weight: bold;
             }
           }
          }
          &.active{
            .content-wrap{
              background: none;
            }
            .content-box {
              max-height: 340px;              
              z-index: 99;
              background-color: $white;
              color: $black;
              padding:20px;
              @media(min-width: 1400px) {           
                padding:40px 30px;
              }
              .content-single{
                display: block;
                text-align: center;
                margin-top: 10px;
                p{
                  font-size: 16px;
                }
              }
              h2 {
                font-size: 22px;
                text-align: center;
                padding: 0;
                width: 100%;
                display: inline-block;                
                &:before{
                  opacity: 0;
                }
              }
              
            }
          }
          h2 {
            padding-left: 45px;
            position: relative;
            @include flexbox;
            @include align-items(center);  
            margin: 0;
            font-size: 16.612px;
            font-family: "Montserrat";
            font-weight: bold;
            line-height: 25px;
            &:before{
              counter-increment: section;
              content: "0" counter(section); 
              color: #454a71;
              position: absolute;
              left: 0px; 
            }
          }
          .content-single {
            font-size: 22px;
          }
                 
        }
      }
    }
  }
}


.view-service-wrap {
  @include media-breakpoint-up(md) {
    position: fixed;
    right: 130px;
    top: 80px;
    z-index: 9999;
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-bottom: 50px;
  }
  .AllServiceBtn{
    margin-top: 70px;
    width: 222px;
    letter-spacing: 0.7px;
    background: none;
    border: 1px solid #232956;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 50px;
    color: $white;
    font-family: sans-serif;
    padding: 13px;
    padding-left: 28px;
    display: flex;
    align-items: center;
    transition: .3s all ease;
    text-decoration: none;
    @include fontSize(18px); 
    img{
        margin-left: 30px;
        transition: .3s all ease;
        right: -20px;
        position: relative;
        z-index: 0 !important;
        top: 0;   
        @include filtercolor(invert, 1);
    }
    &:hover{
        background-color: $red;
        border: 1px solid $red;
        img{
            -moz-animation: bounce 3s infinite;
            -webkit-animation: bounce 3s infinite;
            animation: bounce 3s infinite;
        }
    }
}
}