
.HomeSliderMain{
    margin: 0;
    font-family: "Noto Serif TC", serif;
    font-weight: 600;
    height: 100vh;
    overflow: hidden;
    color: #000;
}
@keyframes loading-screen{
	90%{
		opacity: 1;
		visibility: visible;
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes opacity-change{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


// Keyframes End


section#loader {
    width: 100%;
    background: white;

    .petals {

        img[class*="petal-"] {
            position: absolute;
            transition: .5s opacity ease;
            opacity: 1;

            @media only screen and (max-width: 991px){
                max-width: 50%;
            }

            &.petal-1 {
                top: 60px;
                left: 130px;

                @media only screen and (max-width: 991px){
                    top: 30px;
                    left: 30px;
                    max-width: 60px;
                }
            }

            &.petal-2 {
                top: 85px;
                left: calc(50% + 100px);

                @media only screen and (max-width: 991px){
                    top: 100px;
                    left: 50%;
                }
            }

            &.petal-3 {
                top: -20px;
                right: 30px;

                @media only screen and (max-width: 991px){
                    top: -10px;
                    right: 20px;
                    max-width: 80px;
                }
            }

            &.petal-4 {
                bottom: -20px;
                left: -20px;
            }

            &.petal-5 {
                bottom: 20px;
                right: 30px;

                @media only screen and (max-width: 991px){
                    max-width: 70px;
                }
            }
        }
    }

    .content {

        h2 {
            font-size: 3rem;
            letter-spacing: 5px;
            margin: 5px 0;

            @media only screen and (max-width: 991px){
                font-size: 1rem;
            }
        }

        h1 {
            font-size: 5rem;
            letter-spacing: 15px;
            margin: 5px 0;
            transform: translateY(5px);

            @media only screen and (max-width: 991px){
                font-size: 2rem;
            }
        }

        h3 {
            font-size: 2rem;
            letter-spacing: 4px;
            margin: 10px 0;

            @media only screen and (max-width: 991px){
                font-size: 1rem;
                margin: 5px 0;
            }
        }
    }
}


// Loader End



// Splash Start

section#splash{
	opacity: 1;
	visibility: visible;
	background-image: url('../images/home-slider/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;

	.content{
		position: relative;
		z-index: 1;

		[class*="circle-"]{
            position: absolute;
            content: '';
            z-index: -1;
            width: 100%;
            height: 0%;
            bottom: 0;
            left: 0;
            transition: .5s all ease;

		    &.circle-1{
		    	background: #fe0000;
		    }

		    &.circle-2{
		    	background: #000;
		    }
		}

		h3{
			font-size: 2rem;
			letter-spacing: 8px;
			opacity: 0;
			transform: translateY(-15px);

            @media only screen and (max-width: 991px){
                font-size: 1em;
                letter-spacing: 2px;
            }
		}
		h2{
			font-size: 4rem;
			letter-spacing: 25px;
    		transition: .3s all ease;
    		transform-origin: center;

            @media only screen and (max-width: 991px){
                font-size: 2em;
                letter-spacing: 5px;
            }

    		span{
    			letter-spacing: 0;
    			opacity: 0;
    			margin-left: -30px;

    			&:nth-child(2){
    				animation-delay: 2.2s;
    			}

    			&:nth-child(3){
    				animation-delay: 2.3s;
    			}

    			&:nth-child(4){
    				animation-delay: 2.5s;
    			}

    			&:nth-child(5){
    				animation-delay: 2.12s;
    				animation-duration: 1s;
    			}

    			&:nth-child(6){
    				animation-delay: 2.15s;
    			}

    			&:nth-child(7){
    				animation-delay: 2.18s;
    			}

    			&:nth-child(8){
    				animation-delay: 2.21s;
    			}
    		}
		}
	}
}

// Splash End


// Slider Wrapper Start

section#slider-wrapper{
	opacity: 0;

	.content{

        &.pp-section.pp-table{
            width: 0%;
            overflow: hidden;
            transform: translate3d(0%, 0px, 0px) !important;
            transition-delay: .4s;
            transition-duration: 2s;

            &.active{
                width: 100%;
                transition-delay: 0s;
                transition-duration: 1s;
            }
        }

        .pp-tableCell{
            width: 100vw;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-image: url(../images/home-slider/bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;
        }

		h3{
			font-size: 4.5em;
		    font-weight: 600;
		    margin: 0;

            @media only screen and (max-width: 991px){
                font-size: calc(100vh/17);
                margin-top: 80px;
                max-width: 460px;
            }
		}

        a.btn, button.btn{
            background: #dc0818;
            border-radius: 50px;
            color: #fff;
            font-family: sans-serif;
            padding: 20px;
            padding-right: 40px;
            display: flex;
            align-items: center;
            transition: .3s all ease;

            @media only screen and (max-width: 991px){
                margin: auto;
                font-size: 14px;
                padding: 15px;
            }

            &:hover{
                background: #dc0818;
                border: 1px solid #dc0818;
                color: white;
                padding-right: 0;

                img{
                    transform: translateX(20px);
                    transition: .3s all ease;
                }
            }

            img{
                margin-left: 20px;
                transition: .3s all ease;
                right: 0;
                z-index: 0 !important;
            }
        }

		img{
		    position: relative;
		    right: -30px;
            transform-origin: right center;

            @media only screen and (max-width: 767px){
                max-width: 90%;
                z-index: -1 !important;
            }

            @media only screen and (max-width: 991px){
                max-width: 60%;
            }
		}

        form{

            input{
                padding: 15px;
                padding-left: 0;
                border: 0;
                background: transparent;
                margin-top: 25px;
                outline: 0;
                border-bottom: 1px solid #e0e0e0;
                width: 70%;
                transition: .4s all cubic-bezier(1, 0.2, 0.25, 1);

                @media only screen and (max-width: 991px){
                    margin-top: 20px;
                    width: 90%;
                    font-size: 14px;
                }

                &:focus{
                    border-bottom: 1px solid red;
                    width: 90%;
                    transition: .4s all cubic-bezier(1, 0.2, 0.25, 1);
                }
            }

            a.btn{
                border: 1px solid #444444;
                background: transparent;
                color: #000;
                margin-right: auto;

                @media only screen and (max-width: 991px){
                    border: 0;

                    &:hover{
                        border: 0;
                    }
                }
            }
        }
	}

    #slide-2{
        img.movingImg{
            transform-origin: right bottom;
        }
    }

    #slide-3{

        h3{
            color: #fff;
        }
    }

    #slide-4{
        img.movingImg{
            transform-origin: right top;
        }
    }
}

// Slider Wrapper End