    .page-website-mobile-app{
        background-color: $blue;
        color: $white;
    }
    #website-mobile-section{
        padding-top: 138px;
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-items(flex-end);
        @include media-breakpoint-up(md) {
            padding-top: 200px;  
        }
        @include media-breakpoint-up(lg) {
            padding-top: 190px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 130px;
        }
        @media(min-width: 1365px) {
            height: calc(100% - 40px);
        }
        @media(min-width: 1400px) {
            padding-top: 180px;
        }
        @media(min-width: 1601px) {
            height: calc(100% - 118px);
        }
       
        .inner-content{
            @include make-col-ready;
            @include media-breakpoint-up(lg) {
                @include make-col(7);
              
        }
        @include media-breakpoint-up(xl) {
            padding: 0px;
        }
            h1{
                margin-bottom: 30px;
                @include fontSize(40px);
                text-align: center;
                @include media-breakpoint-up(md) {
                    text-align: left;
                    padding: 0px 5px;
                }
                @media(min-width: 1400px) {
                    margin-bottom: 30px;
                    @include fontSize(50px);
                }
                @media(min-width: 1601px) {
                    margin-bottom: 60px;
                    @include fontSize(55.374px);
                }
                font-family: $font-family-monospace;
                font-weight: bold;
                line-height: 1.182;
            }
            p{
                @include media-breakpoint-up(lg) {
                    @include fontSize(14px);
                }
                @media(min-width: 1400px) {
                    @include fontSize(16.612px);
                }
                font-family: "Montserrat";
                line-height: 2;
                text-align: center;
                @include media-breakpoint-up(md) {
                    text-align: left;
                    padding: 0px 15px;
                }
            }
            ul{
                margin: auto;
                margin-top: 30px;
                width: 90%;
                @extend .row;
                counter-reset: section;
                max-width: 375px;
                @include media-breakpoint-up(md) {
                    width: 100%;
                    max-width: 100%;
                    margin: 0px;
                    margin-top: 30px;
                }
                @include media-breakpoint-up(lg) {
                    max-width: 780px;
                }
                @media(min-width: 1400px) {
                    margin-top: 50px;
                }
                @media(min-width: 1601px) {
                    margin-top: 105px;
                }
                
                li{
                    @include make-col-ready;
                    @include media-breakpoint-up(md) {
                        @include make-col(6);
                    }
                    .content-wrap{
                        position: relative;
                        margin-bottom: 24px;
                        @include bg-opacity($white, 0.05);
                        padding: 10px 25px;
                        border-radius: 4px;
                        @include shadow-light;
                        @include flexbox;
                        @include align-items(center);
                        height: 75px;
                        @media (min-width: 1400px) {
                            height: 98px;
                        }
                        .content-box{
                            position: relative;
                        h3{
                            @include fontSize(16.612px);
                            letter-spacing: 0.5px;
                            font-weight: 500;
                            padding: 0;
                            width: 100%;
                            display: inline-block;  
                            padding-left: 35px;
                            margin: 0px;
                            &:before{
                                counter-increment: section;
                                content: "0" counter(section);
                                color: #454a71;
                                position: absolute;
                                left: 0px; 
                                font-weight: 900;
                              } 
                        }
                    }
                    }
                }
            }
        }
        .bottom-right-image{
            display: none;
            @include make-col-ready;
            @include media-breakpoint-up(lg) {
                display: block;
                @include make-col(5);
            }
            @include media-breakpoint-up(xl) {
                @include make-col(4);
            }
            
            padding: 0px;
            position: fixed;
            bottom: -5px;
            right: -5px;
            z-index: 0;
            img{
                float: right;   
                max-width: 95%;         
            }
        }
    }